body {
    font-family: 'Arial', sans-serif;
    color: rgb(116, 40, 40);
    background: radial-gradient(#fff7ad, #ffa9f9);
}

.hero {
    background: url('../images/hero-bg.jpg') center/cover no-repeat;
    /* height: 60vh; */
    height: 100vh;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.card {
    border: none;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    background-color: #f8f9fa;
}
